<div class="page-header"><h1>Register</h1></div>

<form action="/register" method="post" class="form" >

<input type="text" name="UserName" value="" class="form-control" placeholder="User name"  />

<input type="text" name="Email" value="" class="form-control" placeholder="Email"  />

<input type="password" name="Password" value="" class="form-control" placeholder="Password"  />

<input type="password" name="PasswordRe" value="" class="form-control" placeholder="Password confirm"  />

<input type="submit" name="" value="Register" class="btn btn-info"  />
</form>

<br/>
Already have an account, <a href="/login">login</a>