<div class="page-header"><h1>Users administration</h1></div>
Users count : {{ .Total }} <br/>
{{ if .Users }}
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Create time</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			{{range .Users}}
			<tr>
			<td>{{ .Id }}</td>
			<td>{{ .Name }}</td>
			<td>{{ .CreateTime }}</td>
			<td>{{ .Status }}</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
{{ end }}

{{ if not .Users }}
	<span>
	No users!
	</span>
{{ end }}

{{ if .Total }}
	{{ pager .Total .Page .PageSize}}
{{ end }}
