<div class="page-header"><h1>New Post</h1></div>

<form action="/post/new" method="post" class="form" >

<input type="text" name="Title" value="{{.Form.Title}}" class="form-control" placeholder="Title"  />

<textarea placeholder="Content" name="Content" class="form-control" style="height: 300px;">{{.Form.Content}}</textarea>

<label>Content type</label>
<select name="ContentType" class="form-control">
<option value="plain_text">Plain text</option>
<option value="html">Html</option>
<option value="markdown">Markdown</option>
</select>

<label for="Tags">Tags</label>
<input type="text" name="Tags" value="{{.Form.Tags}}" class="form-control" placeholder="Tags, seperated by ','" />

<label>Status</label>
<select name="Status" class="form-control">
<option value="draft">Draft</option>
<option value="published">Published</option>
<option value="private">Private</option>
</select>

<br/>
<input type="submit" name="" value="Save" class="btn btn-info"  />

</form>
