<div class="page-header"><h1>{{.Post.Title}}</h1></div>

<div class="post-meta">
<a href="/user/view/{{.User.Id}}">{{.User.Name}}</a> post at {{.Post.CreateTime}} 
</div>

<div class="post-content">
{{markdown .Post.Content}}
</div>

<div>
<b>Tags: </b>
{{ range .Tags}}
<a href="/post/tag/{{.Name}}" style="padding-right: 5px;">{{.Name}}</a>
{{ end }}
</div>

{{ if .CanEdit }}
<hr>
<div class="actions">
<a href="/post/edit/{{.Post.Id}}" class="btn btn-info btn-xs">Edit</a>
<a href="/post/delete/{{.Post.Id}}" class="btn btn-danger btn-xs">Delete</a>
</div>
{{ end }}

<hr>
<h2>Comments</h2>
{{template "post/comments.html" .}}
{{template "post/comment_form.html" .}}