<div class="page-header"><h1>About</h1></div>

<form action="/contact" method="post" class="form" style="max-width: 600px;">
	<input type="text" name="name" value="" class="form-control" placeholder="Your name">
	<input type="text" name="subject" value="" class="form-control" placeholder="Subject">
	<input type="text" name="email" value="" class="form-control" placeholder="Email like name@host.com">

	<textarea name="content" cols="70" rows="7" class="form-control" placeholder="Content"></textarea>

<input type="submit" name="" value="Send" class="btn btn-info">

</form>