body{
	font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
	
	padding-top: 70px;
	padding-bottom: 30px;
}

.container{
	max-width: 970px;
}

#main-wrapper{
	min-height: 450px;
}

.page-header{
	margin-top: 0;
}

/* Post */
.post-meta{
	color: gray;
}

/* form */
.form input{
	margin-bottom: 10px;
}

/* Comment */
.comment-form textarea{
	height: 140px;
	margin-top: 10px;
}