<!-- Fixed navbar -->
<div id="main-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RaysGo</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Posts</a></li>
                {{ if .IsLogin }}
                <li><a href="/myposts">My posts</a></li>
                {{ end }}
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                {{ if .IsLogin }}
                <li><a href="/user/view/{{.UserId}}">{{.UserName}}</a></li>
                <li><a href="/logout">Logout</a></li>
                {{ end }}
                
                {{ if not .IsLogin }}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{ end }}

                {{ if .IsAdmin}}
                <li><a href="/admin"><b>Admin</b></a></li>
                {{ end }}
                
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>